p {
  font-family: "Montserrat", sans-serif;
  color: #4a5159;
  font-size: 0.85rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #292f36;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.menuWrapper a {
  color: #292f36;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  min-height: 45rem;
  width: 100%;
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 3 / 4;
}

.div2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 7 / 4;
}

.div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 1 / 4 / 4 / 7;
}

.div4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 4 / 4 / 7 / 7;
}

.div5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 1 / 7 / 3 / 10;
}

.div6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 3 / 7 / 5 / 10;
}

.div7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 5 / 7 / 7 / 10;
}

.div8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 1 / 10 / 4 / 13;
}

.div9 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 4 / 10 / 7 / 13;
}

.gridItem {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gridItem div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.gridItem .inner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #292f36;
  height: 3rem;
  color: rgba(198, 206, 216, 0.5);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  z-index: 2;
  opacity: 0;
}

.gridItem .inner:hover {
  color: #f4f4f6;
}

.box {
  border: solid 1px #c6ced8;
  padding: 2rem 2rem;
}

.titleBox {
  position: absolute;
  left: calc(50% - 4.7rem);
  background: white;
  top: -1rem;
  padding: 0.5rem 3rem;
  font-weight: 600;
  font-size: 0.85rem;
}

.topImg {
  width: 100%;
  height: 13rem;
  background-image: url(../img/bilder/dawn_1.jpg);
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */